In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
trn_file = 'subset_train.csv'
val_file = 'subset_valid.csv'
tst_file = 'subset_test.csv'

In [16]:
ds_trn = pd.read_csv(trn_file)
ds_val = pd.read_csv(val_file)
ds_tst = pd.read_csv(tst_file)

In [17]:
ds_trn.describe()

,UDI,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
count,6999.000000,6999.000000,6999.000000,6999.000000,6999.000000,6999.000000,6999.000000,6999.000000,6999.000000,6999.000000,6999.000000,6999.000000
mean,5017.420346,300.000300,310.001172,1539.425346,39.969253,108.042578,0.033862,0.004001,0.011859,0.010287,0.009287,0.002286
std,2884.967071,2.001965,1.493597,180.224620,10.012395,63.483750,0.180887,0.063128,0.108258,0.100910,0.095928,0.047761
min,2.000000,295.300000,305.700000,1181.000000,3.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2508.500000,298.300000,308.800000,1424.000000,33.200000,54.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5024.000000,300.100000,310.100000,1504.000000,40.100000,107.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7512.500000,301.500000,311.100000,1613.000000,46.700000,162.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,9998.000000,304.400000,313.800000,2886.000000,76.600000,253.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [18]:
ds_val.describe()

,UDI,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
count,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.00000
mean,4951.405500,300.036850,310.032800,1538.91300,39.923200,107.149000,0.034000,0.00650,0.011000,0.007000,0.010000,0.00150
std,2890.318409,1.990012,1.452225,176.78728,9.771987,64.018958,0.181274,0.08038,0.104329,0.083394,0.099524,0.03871
min,4.000000,295.500000,305.900000,1168.00000,5.600000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000
25%,2499.500000,298.300000,308.800000,1424.00000,33.300000,49.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000
50%,4935.500000,300.100000,310.100000,1503.00000,40.000000,109.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000
75%,7395.500000,301.600000,311.100000,1611.25000,46.700000,160.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000
max,10000.000000,304.500000,313.800000,2833.00000,75.400000,244.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.00000

In [19]:
ds_tst.describe()

,UDI,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
count,1001.000000,1001.000000,1001.000000,1001.000000,1001.000000,1001.000000,1001.000000,1001.000000,1001.000000,1001.000000,1001.000000,1001.0
mean,4980.283716,299.973526,309.981818,1533.963037,40.237662,108.913087,0.033966,0.004995,0.009990,0.008991,0.012987,0.0
std,2895.163735,2.009927,1.477535,177.741063,10.059814,64.157458,0.181232,0.070534,0.099499,0.094441,0.113275,0.0
min,1.000000,295.600000,306.000000,1208.000000,10.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,2374.000000,298.300000,308.900000,1414.000000,33.000000,52.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,4947.000000,300.000000,310.000000,1499.000000,40.400000,109.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,7540.000000,301.400000,311.000000,1608.000000,47.300000,166.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
max,9994.000000,304.200000,313.500000,2676.000000,71.600000,241.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0

In [20]:
targets = ['Machine failure','TWF','HDF','PWF','OSF','RNF']
trn_tgts = ds_trn[targets].sum(axis=0)
tst_tgts = ds_tst[targets].sum(axis=0)
val_tgts = ds_val[targets].sum(axis=0)

In [21]:
trn_tgts

Machine failure    237
TWF                 28
HDF                 83
PWF                 72
OSF                 65
RNF                 16
dtype: int64

In [22]:
tst_tgts

Machine failure    34
TWF                 5
HDF                10
PWF                 9
OSF                13
RNF                 0
dtype: int64

In [23]:
val_tgts

Machine failure    68
TWF                13
HDF                22
PWF                14
OSF                20
RNF                 3
dtype: int64